.settings-navigation .link-container.active .link.parent-link {
  border-left: solid 7px #4a4f57;
  position: relative;
  left: -28px;
  padding: 10px 25px;
}

.settings-navigation .link-container .link {
  color: #808285;
}

.settings-navigation .link-container .link.active {
  color: #3d4553;
}
