.back-to-conversations:active, .back-to-conversations:focus {
  border: none;
  outline: none;
}

.custom-value-color {
  color: rgb(109, 110, 113);
}

.custom-label-color {
  letter-spacing: 0.4px;
  color: rgb(189, 190, 191);
}

.custom-small {
  font-size: 10px !important;
}

.custom-medium {
  font-size: 14px !important;
}

.custom-large {
  font-size: 18px !important;
}
