.button-group .button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #fff;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
}

.button-group, .button-group li{
display: inline-block;
}

.button-group {
  font-size: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-radius: 7px;
}

.button-group li{
margin-right: -1px;
}

.button-group .button{
font-size: 13px;
border-radius: 0;
}

.button-group li:first-child .button{
border-radius: 3px 0 0 3px;
}

.button-group li:last-child .button{
border-radius: 0 3px 3px 0;
}