.ui.bottom.attached.menu {
  border-radius: 0;
}

.multiple-choice-bar-active {
  box-shadow: 0 0 20px #d9d9d9;
  transform: scale(1.01);
  cursor: pointer;
}

.multiple-choice-bar:hover {
  box-shadow: 0 0 20px #d9d9d9;
  transform: scale(1.01);
  cursor: pointer;
}
