.aod-chart-item {
  background-color: #fafafa !important;
  border: solid 1px #d9d9d9;
  border: solid 1px var(--faded-grey) !important;
  border-radius: 0 !important;
  margin-left: 0.9em !important;
  margin-right: 0.9em !important;
}

.aod-chart-item .content .header {
  display: flex !important;
}

.aod-chart-item .content .header .title {
  font-family: Lato;
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: -0px;
  text-align: left;
  color: #3d4553;
  color: var(--charcoal-grey);
  flex:1;
  margin-left: .5em;
}
.aod-chart-item .content .header .title span {
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.45;
  color: #808285;
  color: var(--steel-grey);
}

.aod-chart-item .content .header .title a {
  color: var(--charcoal-grey);
  display: initial;
}
.aod-chart-item .content .header .action {
  color: var(--steel-grey);
}
.aod-chart-item .content .meta .item-actions {
  display: flex;
}
.aod-chart-item .content .meta .item-favourite {
  text-align: center;
  margin-top: 3em;
  margin-bottom: .5em;
}

.aod-chart-item .content .meta .item-actions .button {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0px;
  text-align: center;
  color: #808285;
  color: var(--steel-grey);
  background-color: #d9d9d9;
  background-color: var(--faded-grey);
  border-radius: 0;
}

 .aod-chart-item .content .description .simple-chart {
    margin-top: 2em;
 }
 .aod-chart-item .extra.content span {
   font-family: Lato;
   font-size: 10px;
   font-weight: 300;
   line-height: 2.1;
   letter-spacing: -0px;
   text-align: left;
   color: #3d4553;
   color: var(--charcoal-grey);
 }
 .aod-chart-item .extra.content span b {
   font-weight: 900;
 }
