.mwamba-primary-button {
  background-color: #002366 !important;
  color: #fff !important;
}

.mwamba-primary-button:hover {
  background-color: #b31e20 !important;
  color: #fff !important;
}

.hide-scrollbars {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

.hide-active-border:active, .hide-active-border:focus {
  outline: none;
}

svg.recharts-surface tspan {
	font: 300 12px/14px Roboto,sans-serif;
}

.svg-text-style {
  font: 300 12px/14px Roboto,sans-serif;
  letter-spacing: 0.01px;
  text-transform: capitalize;
}
