.chart {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

.chart__bar {
  fill: grey;
}

.chart__column {
  fill: #e6edf4;
}

.chart__axis {
  font-size: 10px;
  font-size: 0.625rem;
}

.chart__axis path,
.chart__axis line {
  fill: none;
  stroke: #e6edf4;
  stroke-width: 0.125rem;
}

.chart__axis path {
  display: none;
}

/* modules/image.css */

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
