.search-custom-white input {
  border-radius: 0 !important;
  background-color: #d9d9d9 !important;
  border: solid 1px #808285 !important;
  color: #808285 !important;
  height: 40px;
  width: 300px;
  padding: 0 10px;
}

.search-custom-white i {
  color: #bf2a2b !important;
}
