.nps-dimension-pill {
  background-color: #fff !important;
  color: #3d4553;
}

.nps-dimension-pill.positive {
  background-color: #fff !important;
}

.nps-dimension-pill.positive:hover {
  /* background-color: #f9fafc !important; */
  /* box-shadow: 0 0 3px #d9d9d9; */
}

.nps-dimension-pill.positive i{
  padding: 5px;
}

.nps-dimension-pill.positive i:hover {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 5px;
}

.nps-dimension-pill.negative {
  background-color: #d9d9d9 !important;
}

.nps-dimension-pill.negative.inactive {
  background-color: #fafafa !important;
  border: dashed 1px #d9d9d9 !important;
  cursor: not-allowed;
}

.nps-dimension-pill.negative:hover {
  background-color: #fff !important;
  /* box-shadow: 0 0 3px #d9d9d9; */
}
