.login {
  margin-top: 100px !important;
  margin-bottom: auto !important;
}

.login a {
    color: #BF2A2B;
}

.login-wrapper {
  background: url(./auth-background.jpg);
	background-size:cover;
}
.ui.header > .image:not(.icon), .ui.header > img {
    width: 6em;
}
.eight.wide.column{
  margin:5em 30em 0 5em;
}
.wrapper .five.wide.column{
	margin: 0;
	padding: 0 !important;
	height: 100%;
	position: absolute !important;
	background: #fff;
	right: 0;
	bottom: 0;
}
.eight.wide.column h1.ui.header {
    font-size: 3rem;
    margin-top: 5em;
}
.eight.wide.column .ui.header {
    color: #FFFFFF !important;
}
.eight.wide.column .spaced{
	margin-top:3em;
}
.eight.wide.column .spaced .white{
	background: #ffffff;
	border-radius: 30px;
	font-weight: lighter;
	color: #BF2A2B;
	font-size:1em;
}
.eight.wide.column .spaced .trans{
	border-radius: 2em;
	background: none;
	border: #fff solid 1px;
	color: #fff;
	font-weight: lighter;
	font-size:1em;
}
.ui.header{
	color:#FFFFFF !important;
}
.ui.header + p {
	color:#FFFFFF !important;
}
.five.wide.column{
	color:#808285;
}
.five.wide.column form label {
	color:#808285;
	font-size:0.8em;
	font-weight:100;
	margin:10px 0;
}
.five.wide.column .column h3 {
	margin-top:5em;
	font-weight:100;
}
.five.wide.column .ui.grid{
	margin:0;
}
.five.wide.column .ui.input input{
	border-radius: 0;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom: 1px solid rgba(191, 42, 43, 100);
}
.five.wide.column .ui.fluid.buttons, .five.wide.column .ui.fluid.button {
    width: 89%;
    border-radius: 1.9em;
}
.five.wide.column .footer{
	position:absolute;
	bottom:10px;
	text-align:center;
	width:100%;
}
