@font-face {
  font-family: 'Lato';
  font-display: auto;
  src: url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'Lato';
}
