#aod-report-gender-filter .checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aod-report-gender-filter .checkbox-container label {
  cursor: pointer;
	position: relative;
	width: 25px;
	height: 25px;
  border-radius: 6px;
	top: 0;
	left: -15px;
	background: #fff;
	border: 1px solid #d9d9d9;
}

#aod-report-gender-filter .checkbox-container label:after {
  opacity: 0.2;
	content: '';
	position: absolute;
	width: 14px;
	height: 8px;
	background: transparent;
	top: 6px;
	left: 5px;
	border: 3px solid #808285;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

#aod-report-gender-filter .checkbox-container label::after {
  opacity: 0;
}

#aod-report-gender-filter .checkbox-container input[type=checkbox]:checked + label:after {
	opacity: 1;
}
