.reinvite-panel .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  border-radius: 0 !important;
  background-color: #002366 !important;
}

.reinvite-panel .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  border-radius: 0 !important;
  background-color: transparent !important;
  cursor: auto !important;
}

.reinvite-panel .DayPicker-Day--today {
  color: #DB2828 !important;
}

.reinvite-panel .DayPickerInput {
  margin: 0 20px;
}

.reinvite-panel .DayPickerInput input {
  text-align: center;
  border-bottom: solid 2px #808285;
  padding: 2px 5px 10px 0px;
  margin: 12px 0 0;
  width: 85px;
  text-align: left;
}

.reinvite-panel .DayPickerInput input:focus {
  outline: none;
}
