.search-custom input {
  border-radius: 0 !important;
  background-color: #3d4553 !important;
  border: solid 1px #808285 !important;
  color: white !important;
  height: 40px;
  width: 300px;
  padding: 0 10px;
}

.search-custom i {
  color: white !important;
}
